<% include partials/header.ejs %>
<div class="ui main text segment container">
<div class="ui huge header"><%=blog.title%> </div>
<div class="ui top attached">
    <div class="item">
        <img class="ui centered rounded image" src="<%=blog.image%>">
        <div class="content">
                <span><%=blog.created.toDateString()%></span>
        </div>
<div class="description">
    <p><%=blog.body%></p>
</div>
</div>
</div>
<a href="/blogs/<%=blog._id%>/edit" class="ui red basic button">EDIT</a>
<form id ="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
<button class="ui red basic button">DELETE</button>
</form>
</div>
<% include partials/footer.ejs%>
